{% extends "obras/layout.html" %}

{% block title %}Início{% endblock %}

{% block content %}
    <section class="hero landing-hero">
        <!-- <p class="landing-kicker">Sobre</p> -->
        <h1>Sobre</h1>
        <div class="text-block">
            {% load static %}
            <p>Este protótipo parte do catálogo das obras históricas para os órgãos da Basílica de Mafra (<a href="{% static 'obras/Anexo III - Catalogo - AAA.pdf' %}" class="download" download>download</a>, 39 MB) e procura testar uma forma de consulta simples, legível e cientificamente útil.</p>
            <p>As obras são agregadas por compositor e podem ser pesquisadas de forma transversal. A intenção é aproximar o ambiente visual de uma base de dados académica, mantendo a leitura leve e direta.</p>
        </div>
    </section>
{% endblock %}
